$nav-color:#1C2085;

body {
  margin:0;
}
//header {
//  background-image: url("../img/background.svg");
//  background-repeat: no-repeat;
//  background-size: cover;
//  background-position: center;
//  height: 830px;
//}

nav {
  width: 100%;
  position: sticky;
  height: 70px;
  .nav-inner {
    width: 90%;
    margin: 15px auto;
    .nav-items {
      display:flex;
      justify-content: space-between;
      align-items: center;
      &-right {
        width:50%;
        &_logo img {
          width:100px;
        }
      }
      &-left {
        width:50%;
        display: flex;
        justify-content: flex-end;
        &_list {
          width:50%;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
        &_item {
          font-size: 16px;
          color:$nav-color;
        }
      }
    }



  }
}
