section.contact
    .contact-container
        .contact-title Contact Us
        .contact-description Most calendars are designed for teams.Slate is designed for freelancers
        form.contact-form
            input.contact-form-input(placeholder='Your Name')
            input.contact-form-input(placeholder='Your Email')
            .contact-form-checkbox
                input#checkbox(type='checkbox')
                label(for='checkbox') Checkbox
            .contact-form-button
                button Email
