footer
    .footer-inner
        .footer-top
            .footer-top-left
                .footer-logo
                    img(src="../../img/logo.svg")
            .footer-top-center
                .footer-links
                    p Contact us:
                    a have@nicecoding.io
            .footer-top-right
                .footer-button
                    button Read Whitepaper
        .footer-buttom
            .footer-items
                .footer-item © Copywriters 2020
                .footer-item FAQ
                .footer-item Terms of Use
                .footer-item Privacy Policy
