footer
    .footer-inner
        .footer-top
            .footer-left
                .footer-logo
                    img
            .footer-center
                .footer-links
                    p Contact us:
                    a have@nicecoding.io
            .footer-right
                .footer-button
                    button
        .footer-buttom
            ul.footer-items
                li.footer-item
                li.footer-item
                li.footer-item
                li.footer-item
