.hero
    .hero-container
        .hero-text
            .hero-text-title The first fully-automatic social crypto trading platform with real crypto currency
            .hero-text-description Subscribe and get the lastes information
            .hero-text-input
                input(placeholder='Enter your email')
                button Subscribe
            a.hero-scroll-buttom.hero-scroll-buttom--sm(href='#testimonials')
                img(src='../../img/scrollbutton.svg')
        .hero-video
            .hero-video-placeholder
                .hero-video-img
                    img(src='../../img/video.png')
                .hero-video-button
                    img(src='../../img/playbutton.svg')
    a.hero-scroll-buttom(href='#testimonials')
        img(src='../../img/scrollbutton.svg')
    .hero-float-menu
        img(src="../../img/social_media.png")
    .hero-modal-container
        .modal
            .modal-content
                .modal-title Edgar Morrison
                .modal-position CEO
                .modal-description Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            .modal-close
                img(src='../../img/close.svg')

