nav
        .nav-inner
            .nav-items
                .nav-items-right
                    .nav-items-right_logo
                        img(src="../../img/logo.svg")
                ul.nav-items-left
                    li.nav-items-left_item.active ICO
                    li.nav-items-left_item Team
                    li.nav-items-left_item Contact


