nav
        .nav-inner
            .nav-items
                .nav-items-right
                    .nav-items-right_logo
                        img(src="../../img/logo.svg")
                .nav-items-left
                    .nav-items-left_list
                        .nav-items-left_item ICO
                        .nav-items-left_item Team
                        .nav-items-left_item Contact


