section.testimonials#testimonials
    .testimonials-title TEAM
    .testimonials-items
        .testimonials-item
            .testimonials-item_img
                img(src='../../img/testimonial-img-1.png')
            .testimonials-item_title Edgar Morrison
            .testimonials-item_position CEO
            .testimonials-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonials-item_buttons
                .testimonials-item_buttons-img
                    img(src='../../img/facebook.svg')
                .testimonials-item_buttons-img
                    img(src='../../img/linkedin.svg')
        .testimonials-item
            .testimonials-item_img
                img(src='../../img/testimonial-img-2.png')
            .testimonials-item_title Mae Martin
            .testimonials-item_position CTO
            .testimonials-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonials-item_buttons
                .testimonials-item_buttons-img
                    img(src='../../img/facebook.svg')
                .testimonials-item_buttons-img
                    img(src='../../img/linkedin.svg')
        .testimonials-item
            .testimonials-item_img
                img(src='../../img/testimonial-img-3.png')
            .testimonials-item_title David Banks
            .testimonials-item_position CFO
            .testimonials-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonials-item_buttons
                .testimonials-item_buttons-img
                    img(src='../../img/facebook.svg')
                .testimonials-item_buttons-img
                    img(src='../../img/linkedin.svg')
        .testimonials-item
            .testimonials-item_img
                img(src='../../img/testimonial-img-4.png')
            .testimonials-item_title Frederick Parsons
            .testimonials-item_position COO
            .testimonials-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonials-item_buttons
                .testimonials-item_buttons-img
                    img(src='../../img/facebook.svg')
                .testimonials-item_buttons-img
                    img(src='../../img/linkedin.svg')
