section.testimonials
    .testimonials-title TEAM
    .testimonials-items
        .testimonial-item
            .testimonial-item_img
                img(src='../../img/testimonials-img-1.png')
            .testimonial-item_title Edgar Morrison
            .testimonial-item_position CEO
            .testimonial-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonial-item_buttons
                button
                button
        .testimonial-item
            .testimonial-item_img
                img(src='../../img/testimonials-img-2.png')
            .testimonial-item_title Mae Martin
            .testimonial-item_position CTO
            .testimonial-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonial-item_buttons
                button
                button
        .testimonial-item
            .testimonial-item_img
                img(src='../../img/testimonials-img-3.png')
            .testimonial-item_title David Banks
            .testimonial-item_position CFO
            .testimonial-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonial-item_buttons
                button
                button
        .testimonial-item
            .testimonial-item_img
                img(src='../../img/testimonials-img-4.png')
            .testimonial-item_title Frederick Parsons
            .testimonial-item_position COO
            .testimonial-item_description Having used discount toner cartridges for twenty years, there have been a lot of changes in the toner...
            .testimonial-item_buttons
                button
                button
