.contact {
  width: 100%;
  background-color: #252B42;

  &-container {
    max-width: 40rem;
    margin: 0 auto;
    padding: 9rem 0;
    text-align: center;
  }

  &-title {
    color: white;
    font-size: 16px;
    line-height: 34px;
    letter-spacing: 12px;
    margin-bottom: 25px;
  }

  &-description {
    font-size: 18px;
    line-height: 24px;
    max-width: 34rem;
    margin: 0 auto 50px;
    color: white;
  }

  &-form {

    &-checkbox {
      display: flex;
      align-items: center;
      color: white;
      margin: 10px auto;
      width: 75%;

      #checkbox {
        width: 10%;
        margin: 0;
      }
    }

    &-button {
      margin: 0 auto;
      width: 75%;
      button {
        color: white;
        padding: 15px 30px;
        width: 100px;
        box-shadow: 0px 12px 44px rgba(56, 165, 219, 0.6);
        background: #38A5DB;
        border-radius: 23px;
        border: none;
      }
    }

  }

  form {
    background: #4250BF;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 65px 0 40px;
    text-align: left;

    input {
      width: 75%;
      margin: 0 auto 25px;
      background-color: white;
      border-radius: 25px;
      border: none;
      padding: 13px 20px;
    }
  }
}

@media screen and (max-width: 562px) {
  .contact {
    &-form {
      width: 90%;
      margin: 0 auto;
    }
  }
}
